<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Generator</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>

<body>

    <h1 style="text-align: center;">Password Generator</h1>


    <div class="container " style="text-align: left;margin-left: 550px ;">


        <form action="{% url 'password' %}">
            Length &nbsp<select name="length">
                <option value="6">6</option>
                <option value="8" selected="selected">8</option>
                <option value="12">12</option>
                <option value="14">14</option>
            </select><br><br>


            <input type="checkbox" name="uppercase" style="text-align: left;"> Uppercase<br>
            <input type="checkbox" name="number" style="text-align: left;"> Numbers<br>
            <input type="checkbox" name="special" style="text-align: left;"> Special Character<br><br>
            <input type="submit" class="btn btn-success" value="Generate Password">

    </div>


    </form>


</body>

</html>